<div id="userRegistrationContainer">
  <div class="text-center header pt-5">
    Registration
  </div>
  <div class="mt-2 pl-3 pr-3 pb-3">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text icon-user">
            <i class="fa fa-user fa-fw"></i>
          </span>
        </div>
        <input class="form-control input-user-name" placeholder="User name">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text icon-envelope">
            <i class="fa fa-envelope fa-fw"></i>
          </span>
        </div>
        <input class="form-control input-email" placeholder="Email">
      </div>
      <div class="input-group">
        <div class="input-group-prepend ">
          <span class="input-group-text icon-lock">
            <i class="fa fa-lock fa-fw icon-lock"></i>
          </span>
        </div>
        <input class="form-control input-password" placeholder="Password">
      </div>
      <div class="input-group">
        <div class="input-group-prepend ">
          <span class="input-group-text icon-confirm-lock">
            <i class="fa fa-lock fa-fw icon-confirm-lock"></i>
          </span>
        </div>
        <input class="form-control input-confirm-password" placeholder="Confirm password">
      </div>
    </div>
  </div>
  <div class="mt-2 pl-3 pr-3 pb-3">
    <button class="btn btn-block btn-signup">Sign Up</button>
  </div>
  <div class="text-center pt-3 pb-3">
    <a (click)="goToLogin()">I already had an account</a>
  </div>
</div>
