#userRegistrationContainer {
  background-color: white;
  margin: 10% 1.5% 30% 1.5%;
  border-radius: 10px;
}

.header {
  font-family: "Apple SD Gothic Neo", serif, serif;
  font-size: large;
  color: darkslategrey;
  font-weight: bold;
}

.btn-signup {
  background-color: #99c432;
  color: white;
  font-size: medium;
}

a {
  text-decoration: none;
  font-size: small;
  color: #99c432 !important;
}

label {
  font-weight: bold;
  font-family: "Apple SD Gothic Neo", serif;
  color: slategrey;
  margin-bottom: 0;
}

input {
  padding-top: 0;
  padding-left: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus {
  box-shadow: none;
}

.error {
  color: red;
  font-size: small;
  font-weight: bold;
}

.error-input {
  border-bottom-color: red;
  border-bottom-width: medium;
}
