<div id="userRegistrationContainer">
  <div class="text-center header pt-5 pb-3">
    Create Your Account
  </div>
  <div class="mt-2 pl-3 pr-3 pb-3">
    <div class="form-group">
      <label>User name</label>
      <input name="email" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input name="text" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input name="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input name="password" type="password" class="form-control">
    </div>
  </div>
  <div class="mt-2 pl-3 pr-3 pb-3">
    <button class="btn btn-block btn-signup">Sign Up</button>
  </div>
  <div class="text-center pt-3 pb-3">
    <a (click)="goToLogin()">I already had an account</a>
  </div>
</div>
