.side-bar {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkslategray;
  z-index: 2;
}

a {
  color: white;
}

.active {
  text-decoration: underline;
}
