#userLoginContainer {
  background-color: white;
  margin: 10% 1.5% 30% 1.5%;
  border-radius: 10px;
}

.header {
  font-family: "American Typewriter", serif;
  font-size: medium;
}

.or-separator {
  font-family: Arial, serif;
  opacity: .5;
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
  font-size: medium;
}

.btn-google {
  background-color: #dd4b39;
  color: white;
  font-size: medium;
}

.btn-login {
  background-color: #99c432;
  color: white;
  font-size: medium;
}

.icon-facebook {
  font-size: 1.5em;
}

.icon-google {
  font-size: 1.5em;
}

input:focus {
  box-shadow: none;
}

::placeholder {
  opacity: .5;
}

a {
  text-decoration: none;
  font-size: small;
  color: #99c432;
}

label {
  font-weight: bold;
  font-family: "Apple SD Gothic Neo", serif;
  color: slategrey;
  margin-bottom: 0;
}

input {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.error {
  color: red;
  font-size: small;
  font-weight: bold;
}

.error-input {
  border-bottom-color: red;
  border-bottom-width: medium;
}


